{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <title>ECERF DataPort Map</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="shortcut icon" href="{% static 'images/dataport.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'images/dataport.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/site.css' %}" type="text/css">
</head>
<body>
<table style="margin: 0px; width: 100%;">
  <tr>
    <td ><h1> Add Path Nodes! </h1> </td>
    <td ><a href="{% url 'index' %}" class="top-menu"><span class="glyphicon glyphicon-search"></span>Search DataPort</a></td>
  </tr>
</table> 
<div class="container-fluid">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a id="3" class="router" data-toggle="pill" href="#Level3"><h2>Level 3</h2></a></li>
      <li><a id="4" class="router" data-toggle="pill" href="#Level4"><h2>Level 4</h2></a></li>
      <li><a id="5" class="router" data-toggle="pill" href="#Level5"><h2>Level 5</h2></a></li>
    </ul>
  </div>
  <div class="tab-content col-sm-9 col-md-10">
   <!-- <h4>{{ path_list }} </h4> -->
    <h3>{{ message }}</h3>
    <div class="row">
      <form class="search navbar-form navbar-left" method='post'>
        {% csrf_token %}
        <p style="color: red">Pleas select level, enter node name, click coordinates</p>
        <input type="number" id="floor" name="floor" class="form-control" placeholder="floor:"  required="true" readonly>
        <input type="text" name="node_name" id="node_name" class="form-control" placeholder="Node Name: floor + var"  required="true">
        <input type="text" name="x_add" id="x_add" class="form-control" placeholder="x..." required="true" readonly>
        <input type="text" name="y_add" id="y_add" class="form-control" placeholder="y..." required="true" readonly>
        <input type="hidden" name="form_name" value="Add">
        <input class="btn btn-primary" type='submit' id="Add" name="Add" value="AddNote">
      </form> 
    </div>
  
    <div id="Level3" class="col-sm-8 tab-pane fade">
      <canvas id="canvas3" class="map" width='677' height='1040'></canvas>
      <div id="marker3" class="marker glyphicon glyphicon-remove-circle"></div>
    </div>
    <div id="Level4" class="col-sm-8 tab-pane fade">
      <canvas id="canvas4" class="map" width='677' height='1040'></canvas>
      <div id="marker4" class="marker glyphicon glyphicon-remove-circle"></div>
    </div>
    <div id="Level5" class="col-sm-8 tab-pane fade">
       <canvas id="canvas5" class="map" width='677' height='1040'></canvas>
      <div id="marker5" class="marker glyphicon glyphicon-remove-circle"></div>
    </div>
  </div>
</div>

<div class="static-images" style="display: none;">
  <img id="image3" class="map" width='637' height='1000' src="{% static 'images/ECERF3_DataPort.png' %}">
  <img id="image4" class="map" src="{% static 'images/ECERF4_DataPort.png' %}" height=1000 width=637>
  <img id="image5" class="map" src="{% static 'images/ECERF5_DataPort.png' %}" height=1000 width=637>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'js/addnote.js' %}"></script>
<script src="{% static 'js/ui.js' %}"></script>
<script src="{% static 'js/jqueryForm.js' %}"></script>
</body>
</html>